/* imagen de fondo */
body{background-image: url("../imagenes/fondo.jpg");}

/* Titutlo de la pagina */
.titulo{color:E1D73E;position:absolute;left:47%;top:13%}

/* botones del menu */
.boton{width:45%;height:10%;position:absolute;left:35%;top:25%}
.botones1{width:10%;height:40%;position:absolute;left:0%;top:0%;margin:15px;color:white;text-align:center;padding-top:1.5%;padding-bottom:1%;}
.botones2{width:10%;height:40%;position:absolute;left:12%;top:0%;margin:15px;color:white;text-align:center;padding-top:1.5%;padding-bottom:1%;}
.botones3{width:11%;height:38%;position:absolute;left:25%;top:0%;margin:15px;color:white;text-align:center;padding-top:1.5%;padding-bottom:1%;}
.botones4{width:16%;height:38%;position:absolute;left:38%;top:0%;margin:15px;color:white;text-align:center;padding-top:1.5%;padding-bottom:1%;}
.botones5{width:18%;height:38%;position:absolute;left:58%;top:0%;margin:15px;color:white;text-align:center;padding-top:1.5%;padding-bottom:1%;}

a.menu:link{color:White;text-decoration:none}
a.menu:hover{color:White;text-decoration:none}
a.menu:visited{color:White;text-decoration:none}
a.menu:active{color:White;text-decoration:none}

/* enlace para subir arriba*/
.subir{position:fixed;left:90%;top:80%}

/* enlaces de profundidad*/
.profundo1{width:8%;height:5%;position:absolute;left:2%;top:5%}
.profundo2{width:8%;height:5%;position:absolute;left:5%;top:5%}
a:link{color:7C7C7C}
a:hover{color:7C7C7C}
a:visited{color:7C7C7C}
a:active{color:7C7C7C}

/* texto e imagenes de la pagina*/

.texto{width:70.6%;height:100%;position:absolute;left:16%;top:40%;background-color:ded3bf}
.texto2{width:90%;height:30%;position:absolute;left:3%;top:3%;background-color:ded3bf}

.foto1{width:40%;height:40%;position:absolute;left:2%;top:45%;border:solid 2px;transition:2s}
.descripcion1{width:30%;height:3%;position:absolute;left:3%;top:50%;border:solid 2px}
.foto2{width:40%;height:40%;position:absolute;left:56%;top:45%;border:solid 2px;transition:2s}
.descripcion2{width:30%;height:3%;position:absolute;left:57%;top:50%;border:solid 2px}

/* pie de la pagina */
.enlace1{position:absolute;left:42%;top:0%}
.enlace2{position:absolute;left:47%;top:0%}
.enlace3{position:absolute;left:52%;top:0%}
.pie{width:70.6%;height:15%;position:absolute;left:16%;top:140.1%;background-color:ded3bf;text-align:center}
.img {width:100%;height:50%}
